/*
PADDED === 30 - #Adds padding to an element.
LPADDED === 15 - #Adds light padding to an element.
MARGED === 30 - #Adds margin to an element, only top and left
LMARGED === 15 - #Adds light margin to an element, only top and left
*/

/* Roboto font */
@import url(http://fonts.googleapis.com/css?family=RobotoDraft:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

/* Material Design Font */
@font-face {
  font-family: "Material-Design-Icons";
  src: url("fonts/material_design_icons/Material-Design-Icons.eot?-g7cqhn");
  src: url("fonts/material_design_icons/Material-Design-Icons.eot?#iefix-g7cqhn") format("embedded-opentype"), url("fonts/material_design_icons/Material-Design-Icons.woff?-g7cqhn") format("woff"), url("fonts/material_design_icons/Material-Design-Icons.ttf?-g7cqhn") format("truetype"), url("fonts/material_design_icons/Material-Design-Icons.svg?-g7cqhn#Material-Design-Icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Keyframes */
@-webkit-keyframes ripple{0%{-webkit-box-shadow:0 0 0 0 rgba(0,0,0,.2);background:rgba(0,0,0,.2)}100%{-webkit-box-shadow:0 0 0 300px rgba(0,0,0,0);background:rgba(0,0,0,0)}}
@-moz-keyframes ripple{0%{-moz-box-shadow:0 0 0 0 rgba(0,0,0,.2);background:rgba(0,0,0,.2)}100%{-moz-box-shadow:0 0 0 300px rgba(0,0,0,0);background:rgba(0,0,0,0)}}
@-o-keyframes ripple{0%{-o-box-shadow:0 0 0 0 rgba(0,0,0,.2);background:rgba(0,0,0,.2)}100%{-o-box-shadow:0 0 0 300px rgba(0,0,0,0);background:rgba(0,0,0,0)}}
@keyframes ripple{0%{box-shadow:0 0 0 0 rgba(0,0,0,.2);background:rgba(0,0,0,.2)}100%{box-shadow:0 0 0 300px rgba(0,0,0,0);background:rgba(0,0,0,0)}}
@-webkit-keyframes ripple_white{0%{-webkit-box-shadow:0 0 0 0 rgba(255,255,255,.2);background:rgba(255,255,255,.2)}100%{-webkit-box-shadow:0 0 0 300px rgba(255,255,255,0);background:rgba(255,255,255,0)}}
@-moz-keyframes ripple_white{0%{-moz-box-shadow:0 0 0 0 rgba(255,255,255,.2);background:rgba(255,255,255,.2)}100%{-moz-box-shadow:0 0 0 300px rgba(255,255,255,0);background:rgba(255,255,255,0)}}
@-o-keyframes ripple_white{0%{-o-box-shadow:0 0 0 0 rgba(255,255,255,.2);background:rgba(255,255,255,.2)}100%{-o-box-shadow:0 0 0 300px rgba(255,255,255,0);background:rgba(255,255,255,0)}}
@keyframes ripple_white{0%{box-shadow:0 0 0 0 rgba(255,255,255,.2);background:rgba(255,255,255,.2)}100%{box-shadow:0 0 0 300px rgba(255,255,255,0);background:rgba(255,255,255,0)}}

/* Reset styles ! normalize.css v3.0.1 | MIT License | git.io/normalize */
html{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-tap-highlight-color:transparent;user-select: none;font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:bold}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
button, input[type="submit"] {-webkit-font-smoothing:antialiased;font-size:1em;font-weight:bold;line-height:1em;}

/* General */
html,body{margin:0;padding:0;color:rgba(0,0,0,.87);font-weight:300;font-family:"RobotoDraft","Roboto","Noto",sans-serif;font-size:1em;line-height:1.1em;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;background:#f9f9f9}
html{height:100%;}
body{min-height:100%;}
h1,h2,h3,h4,h5,h6{font-family:"RobotoDraft","Roboto",sans-serif;font-weight:300;margin:0;text-rendering:optimizeLegibility;letter-spacing:-0.01em;}
h1{font-size:2.125rem;line-height:1.1em;color:rgba(0,0,0,.54);} 
h2{font-size:1.5rem;line-height:1.1em;color:rgba(0,0,0,.87);} 
h3{font-size:1.25rem;line-height:1.1em;color:rgba(0,0,0,.87);} 
h4{font-size:1rem;line-height:1.1em;color:rgba(0,0,0,.87);font-weight: 500;}  
h5{font-size:0.875rem;line-height:1.1em;color:rgba(0,0,0,.87);font-weight: 500;} 
h6{font-size:0.75rem;line-height:1.1em;color:rgba(0,0,0,.87);} 
a,p,span,div,td,th{-webkit-transition:background .1s linear;-moz-transition:background .1s linear;transition:background .1s linear;}
div,section{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
p{margin:1em 0;font-size:1rem;line-height:1.5em;display:block;}
p:empty {display:none}
a{color:#0277bb;font-size:inherit;text-decoration:none;-webkit-transition:color .1s linear;-moz-transition:color .1s linear;transition:color .1s linear}
a:hover{}
p a:hover{color:#01476f}
a:active,a:focus{/*color:#01476f*/}
a[disabled] {pointer-events:none;color:#ccc}
a[target="_blank"]{cursor:alias;}
hr{border:none;border-bottom:1px solid #eee;margin:1em 0}
img, iframe, object, embed, video {width: 100%;max-width: 100%;}
img{margin:0;max-width:100%;vertical-align: top;width:auto;}
abbr,acronym{border-bottom:1px dotted #DDD;cursor:help}
address{display:block;margin:0 0 .5em}
hgroup{margin-bottom:.5em}
del{color:#595959}
blockquote{border-left:2px solid #DDD;color:#595959;margin:1em 0;padding-left:.5em}
cite{color:#737373;font-style:italic}
cite:before{content:'\2014 \00A0'}
code,pre {background-color:#fafafa;color:#9f499b;font-family:"Source Code Pro",Monaco,Menlo,Consolas,"Courier New",monospace;font-size:0.8rem;white-space:pre;word-wrap:normal;overflow-x:auto}
fieldset{background:#f7f7f7;border:1px solid #DDD;margin:0 0 .5em 0;padding:1em}
input,label,select{display:block;font-family:"RobotoDraft","Roboto",sans-serif;background:transparent;font-size:1rem}
label{font-weight:bold;margin-bottom:.25em}
label.required:after{content:"*"}
label abbr{display:none}
textarea,input[type="email"],input[type="number"],input[type="password"],input[type="search"],input[type="tel"],input[type="text"],input[type="url"],input[type="color"],input[type="date"],input[type="datetime"],input[type="datetime-local"],input[type="month"],input[type="time"],input[type="week"],select{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition:border-color;-moz-transition:border-color;transition:border-color;background-color:white;border-radius:.1875em;border:1px solid #DDD;box-shadow:inset 0 1px 3px rgba(0,0,0,0.06);font-family:"RobotoDraft","Roboto",sans-serif;font-size:1em;margin-bottom:.5em;padding:.33333em .33333em;width:100%}
textarea:hover,input[type="email"]:hover,input[type="number"]:hover,input[type="password"]:hover,input[type="search"]:hover,input[type="tel"]:hover,input[type="text"]:hover,input[type="url"]:hover,input[type="color"]:hover,input[type="date"]:hover,input[type="datetime"]:hover,input[type="datetime-local"]:hover,input[type="month"]:hover,input[type="time"]:hover,input[type="week"]:hover,select[multiple=multiple]:hover{border-color:#c4c4c4}
textarea:focus,input[type="email"]:focus,input[type="number"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="text"]:focus,input[type="url"]:focus,input[type="color"]:focus,input[type="date"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,select[multiple=multiple]:focus{border-color:#477dca;box-shadow:inset 0 1px 3px rgba(0,0,0,0.06),0 0 5px rgba(55,112,192,0.7)}
textarea{resize:vertical}
input[type="search"]{-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none;}
input[type="checkbox"],input[type="radio"]{display:inline;margin-right:.25em;display:none;box-shadow:0 0 0 0 rgba(255,255,255,0);}
input[type="checkbox"] + label,input[type="radio"] + label{display:inline-block;text-indent:1.95rem;margin:.25em .75em;}
input[type="checkbox"] + label:before,input[type="radio"] + label:before{color:rgba(0,0,0,.54);font-family:"Material-Design-Icons";font-weight:400;font-size:1.2rem;text-indent:0;border-radius:100%;content: "";cursor: pointer;display: block;height: 1.2rem;position: absolute;-moz-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;-webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out;width: 1.2rem;z-index: 1;}
input[type="checkbox"] + label:hover:before,input[type="radio"] + label:hover:before{}
input[type="checkbox"] + label:active:before,input[type="radio"] + label:active:before,input[type="checkbox"] + label:focus:before,input[type="radio"] + label:focus:before{box-shadow:0 0 0 .75rem rgba(15,157,88,.5);}
input[type="checkbox"] + label.checked:before{content:"";position:absolute;color:inherit;/*#0f9d58*/;}
input[type="radio"] + label:before{font-family:"Material-Design-Icons";font-size:1.2rem;border-radius:100%;border:0;height:1.2rem;width:1.2rem;content:"";}
input[type="radio"] + label.checked:before{color:inherit/*#0f9d58*/;content:"";text-indent:0;}
input[type="checkbox"] + label span,input[type="radio"] + label span{color:rgba(0,0,0,.87);}
input[type="file"]{width:100%}
select{width:auto;max-width:100%;margin-bottom:1em}
button,input[type="submit"],input[type="reset"],input[type="button"],.raised{cursor:pointer;vertical-align:middle;/*color:rgba(0,0,0.54);*/font-size:0.875rem;white-space:nowrap;/*background:transparent;*/display:inline-block;position:relative;height:2.25rem;line-height:2.25rem;margin:.375rem .25rem;padding:0 .5rem;width:auto;min-width:5.5rem;text-transform:uppercase;font-weight:500;border:0;outline:none;border-radius:3px;-webkit-justify-content: center;justify-content: center;-webkit-align-items: center;align-items: center;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);overflow:hidden;}
button>.icon,input[type="submit"]>.icon,input[type="reset"]>.icon,input[type="button"]>.icon{margin-right:4px}
button:hover,input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover{text-decoration:none;/*background:rgba(0,0,0,.06);*/box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);}
input[type="submit"]:active,input[type="reset"]:active,input[type="button"]:active {text-decoration:none;/*background:rgba(0,0,0,.2);*/box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);}
input[disabled],select[disabled],textarea[disabled]{cursor:not-allowed;}
table{border-collapse:collapse;table-layout:fixed;width:100%}
th{border-bottom:1px solid #b7b7b7;font-weight:500;padding:.5em 0;text-align:left;text-transform:uppercase;}
td{border-bottom:1px solid #DDD;padding:.5em 0}
tr:nth-of-type(odd) {background: rgba(0,0,0,.06);}
tr,td,th{vertical-align:top;}
table tr td:first-of-type {white-space:nowrap}
ul, ol{margin:1em 0;}
ul{list-style:none}
li{line-height:1.5em;}
ul li::before,ol li::before {content:'·';color:#999;margin-left:-15px;position:absolute;font-weight:bold}
ul ul,ol ul {margin-left:30px}
ol li::before {content:''}
dl{line-height:1em;margin:1em 0;}
dl dt{font-weight:500;margin-top:.5em}
dl dd{margin:0}
b,strong {font-weight:500}
.mdi{font-family: "Material-Design-Icons",sans-serif;speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1em;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;  -moz-transition: all .1s ease-in-out;  -o-transition: all .1s ease-in-out;  -webkit-transition: all .1s ease-in-out;  transition: all .1s ease-in-out;}
.btn, .flat{-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none;cursor:pointer;user-select:none;vertical-align:middle;color:inherit;font-size:0.875rem;white-space:nowrap;background:transparent;display:inline-block;position:relative;height:2.25rem;line-height:2.25rem;margin:.375rem .25rem;padding:0 .5rem;width:auto;min-width:5.5rem;text-transform:uppercase;font-weight:500;border:0;outline:none;border-radius:3px;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);overflow:hidden;}
.btn:hover,.btn:focus,.flat:hover,.flat:focus{text-decoration:none;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);}
.btn:active, .flat:active{text-decoration:none;box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);}
.fab{background:#fff;border-radius:100%;min-width: 0;overflow: hidden;padding: 0;text-align: center;height:1.5rem;line-height:1.5rem;width:1.5rem;padding:1rem;font-size:1.2rem;}
.fab.mini{padding:.5rem;}
.ripple{display:block;height:2px;width:2px;border-radius:100%;position:absolute;z-index:1;background:transparent;animation:ripple 3s cubic-bezier(0.165, 0.84, 0.44, 1);-webkit-animation:ripple 3s cubic-bezier(0.165, 0.84, 0.44, 1);-moz-animation:ripple 3s cubic-bezier(0.165, 0.84, 0.44, 1);-o-animation:ripple 3s cubic-bezier(0.165, 0.84, 0.44, 1);}
div.ripple_white{display:block;height:2px;width:2px;border-radius:100%;position:absolute;z-index:1;background:transparent;animation:ripple_white 3s cubic-bezier(0.165, 0.84, 0.44, 1);-webkit-animation:ripple_white 3s cubic-bezier(0.165, 0.84, 0.44, 1);-moz-animation:ripple_white 3s cubic-bezier(0.165, 0.84, 0.44, 1);-o-animation:ripple_white 3s cubic-bezier(0.165, 0.84, 0.44, 1);}
.ripple_white > div.ripple{animation:ripple_white 3s cubic-bezier(0.165, 0.84, 0.44, 1);-webkit-animation:ripple_white 3s cubic-bezier(0.165, 0.84, 0.44, 1);-moz-animation:ripple_white 3s cubic-bezier(0.165, 0.84, 0.44, 1);-o-animation:ripple_white 3s cubic-bezier(0.165, 0.84, 0.44, 1);}
.shadow_overlay{display:block;width:100%;height:100%;background:rgba(0,0,0,.06);z-index:0;position:absolute;top:0;left:0;transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);}
.display-4{font-size:7rem;line-height:1.1em;color:rgba(0,0,0,.54);letter-spacing:-0.625rem;}
.display-3{font-size:3.5rem;line-height:1.1em;color:rgba(0,0,0,.54);letter-spacing:-0.3125rem;}
.display-2{font-size:2.8125rem;line-height:1.1em;color:rgba(0,0,0,.54);letter-spacing:0rem;}
.display-1{font-size:2.125rem;line-height:1.1em;color:rgba(0,0,0,.54);letter-spacing:0rem;}
.headline{font-size:1.5rem;line-height:1.1em;color:rgba(0,0,0,.87);letter-spacing:0rem;}
.title{font-size:1.25rem;line-height:1.1em;color:rgba(0,0,0,.87);letter-spacing:0.3125rem;}
.subhead{font-size:1rem;line-height:1.1em;color:rgba(0,0,0,.87);letter-spacing:0.625rem;}
.body-2{font-size:0.875rem;line-height:1.1em;color:rgba(0,0,0,.87);letter-spacing:0.625rem;}
.body-1{font-size:0.875rem;line-height:1.1em;color:rgba(0,0,0,.87);letter-spacing:0.625rem;}
.caption{font-size:0.75rem;line-height:1.1em;color:rgba(0,0,0,.54);letter-spacing:1.25rem;}
.menu{font-size:0.875rem;line-height:1.1em;color:rgba(0,0,0,.87);letter-spacing:0.625rem;}
.button{font-size:0.875rem;line-height:1.1em;color:rgba(0,0,0,.87);letter-spacing:0.625rem;text-transform:uppercase;}

/*Grid system*/
.col1, .col2, .col3, .col23, .col4, .col24, .col34, .col5, .col25, .col35, .col45, .col6, .col26, .col36, .col46, .col56{width:100%;height:auto;}
.col1{width:100%;}
.col2{width:50%;}
.col3{width:33.3333333333%;}
.col4{width:25%;}
.col5{width:20%;}
.col6{width:16.6666666666%;}
.col23{width:66.6666666666%;}
.col24{width:50%;}
.col34{width:75%;}
.col25{width:40%;}
.col35{width:60%;}
.col45{width:80%;}
.col26{width:33.3333333333%;}
.col36{width:50%;}
.col46{width:66.6666666666%;}
.col56{width:83.3333333333%;}

.col1.marged,.col1.full-marged{width:calc(100% - 60px);width:-moz-calc(100% - 60px);width:-webkit-calc(100% - 60px);}
.col2.marged,.col2.full-marged{width:calc(50% - 45px);width:-moz-calc(50% - 45px);width:-webkit-calc(50% - 45px);}
.col3.marged,.col3.full-marged{width:calc(33.3333333333% - 39.999999999px);width:-moz-calc(33.3333333333% - 39.999999999px);width:-webkit-calc(33.3333333333% - 39.999999999px);;}
.col4.marged,.col4.full-marged{width:calc(25% - 37.5px);width:-moz-calc(25% - 37.5px);width:-webkit-calc(25% - 37.5px);;}
.col5.marged,.col5.full-marged{width:calc(20% - 36px);width:-moz-calc(20% - 36px);width:-webkit-calc(20% - 36px);;}
.col6.marged,.col6.full-marged{width:calc(16.6666666666% - 34.999999998px);width:-moz-calc(16.6666666666% - 34.999999998px);width:-webkit-calc(16.6666666666% - 34.999999998px);;}
.col23.marged,.col23.full-marged{width:calc(66.6666666666% - 49.999999998px);width:-moz-calc(66.6666666666% - 49.999999998px);width:-webkit-calc(66.6666666666% - 49.999999998px);;}
.col24.marged,.col24.full-marged{width:calc(50% - 45px);width:-moz-calc(50% - 45px);width:-webkit-calc(50% - 45px);;}
.col34.marged,.col34.full-marged{width:calc(75% - 52.5px);width:-moz-calc(75% - 52.5px);width:-webkit-calc(75% - 52.5px);;}
.col25.marged,.col25.full-marged{width:calc(40% - 42px);width:-moz-calc(40% - 42px);width:-webkit-calc(40% - 42px);;}
.col35.marged,.col35.full-marged{width:calc(60% - 48px);width:-moz-calc(60% - 48px);width:-webkit-calc(60% - 48px);;}
.col45.marged,.col45.full-marged{width:calc(80% - 54px);width:-moz-calc(80% - 54px);width:-webkit-calc(80% - 54px);;}
.col26.marged,.col26.full-marged{width:calc(33.3333333333% - 39.999999999px);width:-moz-calc(33.3333333333% - 39.999999999px);width:-webkit-calc(33.3333333333% - 39.999999999px);;}
.col36.marged,.col36.full-marged{width:calc(50% - 45px);width:-moz-calc(50% - 45px);width:-webkit-calc(50% - 45px);;}
.col46.marged,.col46.full-marged{width:calc(66.6666666666% - 49.999999998px);width:-moz-calc(66.6666666666% - 49.999999998px);width:-webkit-calc(66.6666666666% - 49.999999998px);;}
.col56.marged,.col56.full-marged{width:calc(83.3333333333% - 54.999999999px);width:-moz-calc(83.3333333333% - 54.999999999px);width:-webkit-calc(83.3333333333% - 54.999999999px);;}

.col1.lmarged,.col1.full-lmarged{width:calc(100% - 30px);width:-moz-calc(100% - 30px);width:-webkit-calc(100% - 30px);}
.col2.lmarged,.col2.full-lmarged{width:calc(50% - 22.5px);width:-moz-calc(50% - 22.5px);width:-webkit-calc(50% - 22.5px);}
.col3.lmarged,.col3.full-lmarged{width:calc(33.3333333333% - 19.9999999995px);width:-moz-calc(33.3333333333% - 19.9999999995px);width:-webkit-calc(33.3333333333% - 19.9999999995px);;}
.col4.lmarged,.col4.full-lmarged{width:calc(25% - 18.75px);width:-moz-calc(25% - 18.75px);width:-webkit-calc(25% - 18.75px);;}
.col5.lmarged,.col5.full-lmarged{width:calc(20% - 18px);width:-moz-calc(20% - 18px);width:-webkit-calc(20% - 18px);;}
.col6.lmarged,.col6.full-lmarged{width:calc(16.6666666666% - 17.499999999px);width:-moz-calc(16.6666666666% - 17.499999999px);width:-webkit-calc(16.6666666666% - 17.499999999px);;}
.col23.lmarged,.col23.full-lmarged{width:calc(66.6666666666% - 24.999999999px);width:-moz-calc(66.6666666666% - 24.999999999px);width:-webkit-calc(66.6666666666% - 24.999999999px);;}
.col24.lmarged,.col24.full-lmarged{width:calc(50% - 22.5px);width:-moz-calc(50% - 22.5px);width:-webkit-calc(50% - 22.5px);;}
.col34.lmarged,.col34.full-lmarged{width:calc(75% - 26.25px);width:-moz-calc(75% - 26.25px);width:-webkit-calc(75% - 26.25px);;}
.col25.lmarged,.col25.full-lmarged{width:calc(40% - 21px);width:-moz-calc(40% - 21px);width:-webkit-calc(40% - 21px);;}
.col35.lmarged,.col35.full-lmarged{width:calc(60% - 24px);width:-moz-calc(60% - 24px);width:-webkit-calc(60% - 24px);;}
.col45.lmarged,.col45.full-lmarged{width:calc(80% - 27px);width:-moz-calc(80% - 27px);width:-webkit-calc(80% - 27px);;}
.col26.lmarged,.col26.full-lmarged{width:calc(33.3333333333% - 19.9999999995px);width:-moz-calc(33.3333333333% - 19.9999999995px);width:-webkit-calc(33.3333333333% - 19.9999999995px);;}
.col36.lmarged,.col36.full-lmarged{width:calc(50% - 22.5px);width:-moz-calc(50% - 22.5px);width:-webkit-calc(50% - 22.5px);;}
.col46.lmarged,.col46.full-lmarged{width:calc(66.6666666666% - 24.999999999px);width:-moz-calc(66.6666666666% - 24.999999999px);width:-webkit-calc(66.6666666666% - 24.999999999px);;}
.col56.lmarged,.col56.full-lmarged{width:calc(83.3333333333% - 27.4999999995px);width:-moz-calc(83.3333333333% - 27.4999999995px);width:-webkit-calc(83.3333333333% - 27.4999999995px);;}

.row1, .row2, .row3, .row23, .row4, .row24, .row34, .row5, .row25, .row35, .row45, .row6, .row26, .row36, .row46, .row56{height:100%;}
.row1{height:100%;}
.row2{height:50%;}
.row3{height:33.3333333333%;}
.row4{height:25%;}
.row5{height:20%;}
.row6{height:16.6666666666%;}
.row23{height:66.6666666666%;}
.row24{height:50%;}
.row34{height:75%;}
.row25{height:40%;}
.row35{height:60%;}
.row45{height:80%;}
.row26{height:33.3333333333%;}
.row36{height:50%;}
.row46{height:66.6666666666%;}
.row56{height:83.3333333333%;}

.row1.marged,.col1.full-marged{height:calc(100% - 60px);height:-moz-calc(100% - 60px);height:-webkit-calc(100% - 60px);}
.row2.marged,.col2.full-marged{height:calc(50% - 45px);height:-moz-calc(50% - 45px);height:-webkit-calc(50% - 45px);}
.row3.marged,.col3.full-marged{height:calc(33.3333333333% - 39.999999999px);height:-moz-calc(33.3333333333% - 39.999999999px);height:-webkit-calc(33.3333333333% - 39.999999999px);;}
.row4.marged,.col4.full-marged{height:calc(25% - 37.5px);height:-moz-calc(25% - 37.5px);height:-webkit-calc(25% - 37.5px);;}
.row5.marged,.col5.full-marged{height:calc(20% - 36px);height:-moz-calc(20% - 36px);height:-webkit-calc(20% - 36px);;}
.row6.marged,.col6.full-marged{height:calc(16.6666666666% - 34.999999998px);height:-moz-calc(16.6666666666% - 34.999999998px);height:-webkit-calc(16.6666666666% - 34.999999998px);;}
.row23.marged,.col23.full-marged{height:calc(66.6666666666% - 49.999999998px);height:-moz-calc(66.6666666666% - 49.999999998px);height:-webkit-calc(66.6666666666% - 49.999999998px);;}
.row24.marged,.col24.full-marged{height:calc(50% - 45px);height:-moz-calc(50% - 45px);height:-webkit-calc(50% - 45px);;}
.row34.marged,.col34.full-marged{height:calc(75% - 52.5px);height:-moz-calc(75% - 52.5px);height:-webkit-calc(75% - 52.5px);;}
.row25.marged,.col25.full-marged{height:calc(40% - 42px);height:-moz-calc(40% - 42px);height:-webkit-calc(40% - 42px);;}
.row35.marged,.col35.full-marged{height:calc(60% - 48px);height:-moz-calc(60% - 48px);height:-webkit-calc(60% - 48px);;}
.row45.marged,.col45.full-marged{height:calc(80% - 54px);height:-moz-calc(80% - 54px);height:-webkit-calc(80% - 54px);;}
.row26.marged,.col26.full-marged{height:calc(33.3333333333% - 39.999999999px);height:-moz-calc(33.3333333333% - 39.999999999px);height:-webkit-calc(33.3333333333% - 39.999999999px);;}
.row36.marged,.col36.full-marged{height:calc(50% - 45px);height:-moz-calc(50% - 45px);height:-webkit-calc(50% - 45px);;}
.row46.marged,.col46.full-marged{height:calc(66.6666666666% - 49.999999998px);height:-moz-calc(66.6666666666% - 49.999999998px);height:-webkit-calc(66.6666666666% - 49.999999998px);;}
.row56.marged,.col56.full-marged{height:calc(83.3333333333% - 54.999999999px);height:-moz-calc(83.3333333333% - 54.999999999px);height:-webkit-calc(83.3333333333% - 54.999999999px);;}

.row1.lmarged,.col1.full-lmarged{height:calc(100% - 30px);height:-moz-calc(100% - 30px);height:-webkit-calc(100% - 30px);}
.row2.lmarged,.col2.full-lmarged{height:calc(50% - 22.5px);height:-moz-calc(50% - 22.5px);height:-webkit-calc(50% - 22.5px);}
.row3.lmarged,.col3.full-lmarged{height:calc(33.3333333333% - 19.9999999995px);height:-moz-calc(33.3333333333% - 19.9999999995px);height:-webkit-calc(33.3333333333% - 19.9999999995px);;}
.row4.lmarged,.col4.full-lmarged{height:calc(25% - 18.75px);height:-moz-calc(25% - 18.75px);height:-webkit-calc(25% - 18.75px);;}
.row5.lmarged,.col5.full-lmarged{height:calc(20% - 18px);height:-moz-calc(20% - 18px);height:-webkit-calc(20% - 18px);;}
.row6.lmarged,.col6.full-lmarged{height:calc(16.6666666666% - 17.499999999px);height:-moz-calc(16.6666666666% - 17.499999999px);height:-webkit-calc(16.6666666666% - 17.499999999px);;}
.row23.lmarged,.col23.full-lmarged{height:calc(66.6666666666% - 24.999999999px);height:-moz-calc(66.6666666666% - 24.999999999px);height:-webkit-calc(66.6666666666% - 24.999999999px);;}
.row24.lmarged,.col24.full-lmarged{height:calc(50% - 22.5px);height:-moz-calc(50% - 22.5px);height:-webkit-calc(50% - 22.5px);;}
.row34.lmarged,.col34.full-lmarged{height:calc(75% - 26.25px);height:-moz-calc(75% - 26.25px);height:-webkit-calc(75% - 26.25px);;}
.row25.lmarged,.col25.full-lmarged{height:calc(40% - 21px);height:-moz-calc(40% - 21px);height:-webkit-calc(40% - 21px);;}
.row35.lmarged,.col35.full-lmarged{height:calc(60% - 24px);height:-moz-calc(60% - 24px);height:-webkit-calc(60% - 24px);;}
.row45.lmarged,.col45.full-lmarged{height:calc(80% - 27px);height:-moz-calc(80% - 27px);height:-webkit-calc(80% - 27px);;}
.row26.lmarged,.col26.full-lmarged{height:calc(33.3333333333% - 19.9999999995px);height:-moz-calc(33.3333333333% - 19.9999999995px);height:-webkit-calc(33.3333333333% - 19.9999999995px);;}
.row36.lmarged,.col36.full-lmarged{height:calc(50% - 22.5px);height:-moz-calc(50% - 22.5px);height:-webkit-calc(50% - 22.5px);;}
.row46.lmarged,.col46.full-lmarged{height:calc(66.6666666666% - 24.999999999px);height:-moz-calc(66.6666666666% - 24.999999999px);height:-webkit-calc(66.6666666666% - 24.999999999px);;}
.row56.lmarged,.col56.full-lmarged{height:calc(83.3333333333% - 27.4999999995px);height:-moz-calc(83.3333333333% - 27.4999999995px);height:-webkit-calc(83.3333333333% - 27.4999999995px);;}

.col1{*zoom: 1;}
.col1:before, .col1:after {display: table;content: "";}
.col1:after {clear: both;}

/* Common classes */
.hide {display:none;}
.show {display:block;}
.invisible {visibility:hidden;}
.wrapper{width: 960px;margin-left:auto;margin-right:auto;*zoom: 1;box-sizing:border-box}
.wrapper:before, .wrapper:after {display:table;content:"";}
.wrapper:after {clear:both;}
.left{float:left;}
.right{float:right;}
.center{text-align:center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.clearfix {*zoom: 1;}
.clearfix:before, .clearfix:after {display: table;content: "";}
.clearfix:after { clear: both;}
.clear{margin:0;clear:both;}
.hidden{display:none;}
.photo{border:5px solid rgba(0,0,0,.02);box-shadow:0 0 0 1px rgba(0,0,0,.12);width:100%;max-width:calc(100% - 10px);max-width:-moz-calc(100% - 10px);max-width:-webkit-calc(100% - 10px);}
.photo.left{margin:0 15px .5em 0;}
.photo.right{margin:0 0 .5em 15px;}
.padded{padding:30px;}
.lpadded{padding:15px;}
.marged{margin:30px 0 0 30px;}
.lmarged{margin:15px 0 0 15px;}
.marged.right{margin:30px 30px 0 0;}
.lmarged.right{margin:15px 15px 0 0;}
.full-marged{margin:30px;}
.full-lmarged{margin:15px;}
.noscroll{overflow:hidden;}
.no-margin,.no-marged{margin:0;}
.no-margin-top,.no-marged-top{margin-top:0;}
.no-margin-bottom,.no-marged-bottom{margin-bottom:0;}
.no-margin-left,.no-marged-left{margin-left:0;}
.no-margin-right,.no-marged-right{margin-right:0;}
.no-padding,.no-padded{padding:0;}
.no-padding-top,.no-padded-top{padding-top:0;}
.no-padding-bottom,.no-padded-bottom{padding-bottom:0;}
.no-padding-left,.no-padded-left{padding-left:0;}
.no-padding-right,.no-padded-right{padding-right:0;}
.rounded{-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;}
.rounded1{-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;}
.rounded2{-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.rounded3{-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.rounded4{-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.rounded5{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.rounded6{-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
.rounded7{-webkit-border-radius: 7px;-moz-border-radius: 7px;border-radius: 7px;}
.rounded8{-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;}
.rounded9{-webkit-border-radius: 9px;-moz-border-radius: 9px;border-radius: 9px;}
.rounded10{-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
.alert,.error {color:rgba(0,0,0,.54);border:1px solid #eee;font-size:0.875rem;padding:.5rem 1rem}
.alert b,.alert strong,.error b,.error strong {margin-right:5px}
.alert.alert-success b,.alert.alert-success strong {color:green}
.alert.alert-info b,.alert.alert-info strong {color:#3367d6}
.alert.alert-error {border-color:#ff4120;fill:#ff4120}
.alert.alert-error b,.alert.alert-error strong {color:#ff4120}
.error {border:3px solid red;background-color:rgba(255,0,0,0.3);color:rgba(0,0,0,.87);}
.btn-success{background:#4caf50;color:#ffffff;}
.btn-success:hover{background:#66bb6a;color:rgba(0, 0, 0, 0.87);}
.btn-warning{background:#ffc107;color:#ffffff;}
.btn-warning:hover{background:#ffca28;color:rgba(0, 0, 0, 0.87);}
.btn-danger{background:#f44336;color:#ffffff;}
.btn-danger:hover{background:#ef5350;color:rgba(0, 0, 0, 0.87);}

/*Quick nav menu */
#quick_nav{position:absolute;top:40px;left:0;width:80%;min-width:300px;max-width:80%;overflow:auto;z-index:100000;border-top:1px solid rgba(0,0,0,.12);}
#quick_nav a{display:block;font-size:1rem;line-height:2.5rem;border-bottom:1px solid rgba(255,255,255,.1);}
#quick_nav a:last-child{border:0;}
#quick_nav a.sub{text-indent:10px;}
#btn_quick_nav{font-size:2rem;min-width:auto;}

/* Modal Styles */
#modal_back{background:rgba(0,0,0,.27);z-index:15000;position:absolute;top:0;left:0;height:100%;width:100%;}
#modal{position:relative;height:auto;max-height:80%;width:600px;max-width:80%;min-width:none;position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);border:1px solid rgba(0,0,0,.12);background:#fff;box-shadow:0px 0px 10px rgba(0,0,0,.8);}
#modal_head{position:relative;border-bottom:1px solid rgba(0,0,0,.12);cursor:move;line-height:2em;height:2em;vertical-align: middle;}
#modal_title{display:inline-block;font-size:1.25rem;line-height:2em;text-indent:16px;color:rgba(0,0,0,.87);margin-right:16px;}
#modal_close{position:absolute;top:0;right:0;font-weight:700;}
#modal_body{padding:16px;background:#ffffff;overflow:auto;height:calc(100% - 2em - 1px);height:-moz-calc(100% - 2em - 1px);height:-webkit-calc(100% - 2em - 1px);}
#modal_body p:only-child{margin:0;}
#modal_body img.zoomed,#modal_body img:only-child{max-height:calc(100% - 32px);max-height:-moz-calc(100% - 32px);max-height:-webkit-calc(100% - 32px);display:block;margin:0 auto;}
#modal_actions{position:absolute;bottom:0;left:0;width:100%;padding:16px;background:#ffffff;border-top:1px solid rgba(0,0,0,.12);}

/* Text colors: */
.red {color:#f44336}
.red50 {color:#ffebee}
.red100 {color:#ffcdd2}
.red200 {color:#ef9a9a}
.red300 {color:#e57373}
.red400 {color:#ef5350}
.red500 {color:#f44336}
.red600 {color:#e53935}
.red700 {color:#d32f2f}
.red800 {color:#c62828}
.red900 {color:#b71c1c}
.redA100 {color:#ff8a80}
.redA200 {color:#ff5252}
.redA400 {color:#ff1744}
.redA700 {color:#d50000}
.pink {color:#e91e63}
.pink50 {color:#fce4ec}
.pink100 {color:#f8bbd0}
.pink200 {color:#f48fb1}
.pink300 {color:#f06292}
.pink400 {color:#ec407a}
.pink500 {color:#e91e63}
.pink600 {color:#d81b60}
.pink700 {color:#c2185b}
.pink800 {color:#ad1457}
.pink900 {color:#880e4f}
.pinkA100 {color:#ff80ab}
.pinkA200 {color:#ff4081}
.pinkA400 {color:#f50057}
.pinkA700 {color:#c51162}
.purple {color:#9c27b0}
.purple50 {color:#f3e5f5}
.purple100 {color:#e1bee7}
.purple200 {color:#ce93d8}
.purple300 {color:#ba68c8}
.purple400 {color:#ab47bc}
.purple500 {color:#9c27b0}
.purple600 {color:#8e24aa}
.purple700 {color:#7b1fa2}
.purple800 {color:#6a1b9a}
.purple900 {color:#4a148c}
.purpleA100 {color:#ea80fc}
.purpleA200 {color:#e040fb}
.purpleA400 {color:#d500f9}
.purpleA700 {color:#aa00ff}
.deep-purple {color:#673ab7}
.deep-purple50 {color:#ede7f6}
.deep-purple100 {color:#d1c4e9}
.deep-purple200 {color:#b39ddb}
.deep-purple300 {color:#9575cd}
.deep-purple400 {color:#7e57c2}
.deep-purple500 {color:#673ab7}
.deep-purple600 {color:#5e35b1}
.deep-purple700 {color:#512da8}
.deep-purple800 {color:#4527a0}
.deep-purple900 {color:#311b92}
.deep-purpleA100 {color:#b388ff}
.deep-purpleA200 {color:#7c4dff}
.deep-purpleA400 {color:#651fff}
.deep-purpleA700 {color:#6200ea}
.indigo {color:#3f51b5}
.indigo50 {color:#e8eaf6}
.indigo100 {color:#c5cae9}
.indigo200 {color:#9fa8da}
.indigo300 {color:#7986cb}
.indigo400 {color:#5c6bc0}
.indigo500 {color:#3f51b5}
.indigo600 {color:#3949ab}
.indigo700 {color:#303f9f}
.indigo800 {color:#283593}
.indigo900 {color:#1a237e}
.indigoA100 {color:#8c9eff}
.indigoA200 {color:#536dfe}
.indigoA400 {color:#3d5afe}
.indigoA700 {color:#304ffe}
.blue {color:#2196f3}
.blue50 {color:#e3f2fd}
.blue100 {color:#bbdefb}
.blue200 {color:#90caf9}
.blue300 {color:#64b5f6}
.blue400 {color:#42a5f5}
.blue500 {color:#2196f3}
.blue600 {color:#1e88e5}
.blue700 {color:#1976d2}
.blue800 {color:#1565c0}
.blue900 {color:#0d47a1}
.blueA100 {color:#82b1ff}
.blueA200 {color:#448aff}
.blueA400 {color:#2979ff}
.blueA700 {color:#2962ff}
.light-blue {color:#03a9f4}
.light-blue50 {color:#e1f5fe}
.light-blue100 {color:#b3e5fc}
.light-blue200 {color:#81d4fa}
.light-blue300 {color:#4fc3f7}
.light-blue400 {color:#29b6f6}
.light-blue500 {color:#03a9f4}
.light-blue600 {color:#039be5}
.light-blue700 {color:#0288d1}
.light-blue800 {color:#0277bd}
.light-blue900 {color:#01579b}
.light-blueA100 {color:#80d8ff}
.light-blueA200 {color:#40c4ff}
.light-blueA400 {color:#00b0ff}
.light-blueA700 {color:#0091ea}
.cyan {color:#00bcd4}
.cyan50 {color:#e0f7fa}
.cyan100 {color:#b2ebf2}
.cyan200 {color:#80deea}
.cyan300 {color:#4dd0e1}
.cyan400 {color:#26c6da}
.cyan500 {color:#00bcd4}
.cyan600 {color:#00acc1}
.cyan700 {color:#0097a7}
.cyan800 {color:#00838f}
.cyan900 {color:#006064}
.cyanA100 {color:#84ffff}
.cyanA200 {color:#18ffff}
.cyanA400 {color:#00e5ff}
.cyanA700 {color:#00b8d4}
.teal {color:#009688}
.teal50 {color:#e0f2f1}
.teal100 {color:#b2dfdb}
.teal200 {color:#80cbc4}
.teal300 {color:#4db6ac}
.teal400 {color:#26a69a}
.teal500 {color:#009688}
.teal600 {color:#00897b}
.teal700 {color:#00796b}
.teal800 {color:#00695c}
.teal900 {color:#004d40}
.tealA100 {color:#a7ffeb}
.tealA200 {color:#64ffda}
.tealA400 {color:#1de9b6}
.tealA700 {color:#00bfa5}
.green {color:#4caf50}
.green50 {color:#e8f5e9}
.green100 {color:#c8e6c9}
.green200 {color:#a5d6a7}
.green300 {color:#81c784}
.green400 {color:#66bb6a}
.green500 {color:#4caf50}
.green600 {color:#43a047}
.green700 {color:#388e3c}
.green800 {color:#2e7d32}
.green900 {color:#1b5e20}
.greenA100 {color:#b9f6ca}
.greenA200 {color:#69f0ae}
.greenA400 {color:#00e676}
.greenA700 {color:#00c853}
.light-green {color:#8bc34a}
.light-green50 {color:#f1f8e9}
.light-green100 {color:#dcedc8}
.light-green200 {color:#c5e1a5}
.light-green300 {color:#aed581}
.light-green400 {color:#9ccc65}
.light-green500 {color:#8bc34a}
.light-green600 {color:#7cb342}
.light-green700 {color:#689f38}
.light-green800 {color:#558b2f}
.light-green900 {color:#33691e}
.light-greenA100 {color:#ccff90}
.light-greenA200 {color:#b2ff59}
.light-greenA400 {color:#76ff03}
.light-greenA700 {color:#64dd17}
.lime {color:#cddc39}
.lime50 {color:#f9fbe7}
.lime100 {color:#f0f4c3}
.lime200 {color:#e6ee9c}
.lime300 {color:#dce775}
.lime400 {color:#d4e157}
.lime500 {color:#cddc39}
.lime600 {color:#c0ca33}
.lime700 {color:#afb42b}
.lime800 {color:#9e9d24}
.lime900 {color:#827717}
.limeA100 {color:#f4ff81}
.limeA200 {color:#eeff41}
.limeA400 {color:#c6ff00}
.limeA700 {color:#aeea00}
.yellow {color:#ffeb3b}
.yellow50 {color:#fffde7}
.yellow100 {color:#fff9c4}
.yellow200 {color:#fff59d}
.yellow300 {color:#fff176}
.yellow400 {color:#ffee58}
.yellow500 {color:#ffeb3b}
.yellow600 {color:#fdd835}
.yellow700 {color:#fbc02d}
.yellow800 {color:#f9a825}
.yellow900 {color:#f57f17}
.yellowA100 {color:#ffff8d}
.yellowA200 {color:#ffff00}
.yellowA400 {color:#ffea00}
.yellowA700 {color:#ffd600}
.amber {color:#ffc107}
.amber50 {color:#fff8e1}
.amber100 {color:#ffecb3}
.amber200 {color:#ffe082}
.amber300 {color:#ffd54f}
.amber400 {color:#ffca28}
.amber500 {color:#ffc107}
.amber600 {color:#ffb300}
.amber700 {color:#ffa000}
.amber800 {color:#ff8f00}
.amber900 {color:#ff6f00}
.amberA100 {color:#ffe57f}
.amberA200 {color:#ffd740}
.amberA400 {color:#ffc400}
.amberA700 {color:#ffab00}
.orange {color:#ff9800}
.orange50 {color:#fff3e0}
.orange100 {color:#ffe0b2}
.orange200 {color:#ffcc80}
.orange300 {color:#ffb74d}
.orange400 {color:#ffa726}
.orange500 {color:#ff9800}
.orange600 {color:#fb8c00}
.orange700 {color:#f57c00}
.orange800 {color:#ef6c00}
.orange900 {color:#e65100}
.orangeA100 {color:#ffd180}
.orangeA200 {color:#ffab40}
.orangeA400 {color:#ff9100}
.orangeA700 {color:#ff6d00}
.deep-orange {color:#ff5722}
.deep-orange50 {color:#fbe9e7}
.deep-orange100 {color:#ffccbc}
.deep-orange200 {color:#ffab91}
.deep-orange300 {color:#ff8a65}
.deep-orange400 {color:#ff7043}
.deep-orange500 {color:#ff5722}
.deep-orange600 {color:#f4511e}
.deep-orange700 {color:#e64a19}
.deep-orange800 {color:#d84315}
.deep-orange900 {color:#bf360c}
.deep-orangeA100 {color:#ff9e80}
.deep-orangeA200 {color:#ff6e40}
.deep-orangeA400 {color:#ff3d00}
.deep-orangeA700 {color:#dd2c00}
.brown {color:#795548}
.brown50 {color:#efebe9}
.brown100 {color:#d7ccc8}
.brown200 {color:#bcaaa4}
.brown300 {color:#a1887f}
.brown400 {color:#8d6e63}
.brown500 {color:#795548}
.brown600 {color:#6d4c41}
.brown700 {color:#5d4037}
.brown800 {color:#4e342e}
.brown900 {color:#3e2723}
.grey {color:#9e9e9e}
.grey50 {color:#fafafa}
.grey100 {color:#f5f5f5}
.grey200 {color:#eeeeee}
.grey300 {color:#e0e0e0}
.grey400 {color:#bdbdbd}
.grey500 {color:#9e9e9e}
.grey600 {color:#757575}
.grey700 {color:#616161}
.grey800 {color:#424242}
.grey900 {color:#212121}
.blue-grey {color:#607d8b}
.blue-grey50 {color:#eceff1}
.blue-grey100 {color:#cfd8dc}
.blue-grey200 {color:#b0bec5}
.blue-grey300 {color:#90a4ae}
.blue-grey400 {color:#78909c}
.blue-grey500 {color:#607d8b}
.blue-grey600 {color:#546e7a}
.blue-grey700 {color:#455a64}
.blue-grey800 {color:#37474f}
.blue-grey900 {color:#263238}
.black {color:#000000}
.white {color:#ffffff}

/* Background Colors: */
.red_bg {background:#f44336}
.red50_bg {background:#ffebee}
.red100_bg {background:#ffcdd2}
.red200_bg {background:#ef9a9a}
.red300_bg {background:#e57373}
.red400_bg {background:#ef5350}
.red500_bg {background:#f44336}
.red600_bg {background:#e53935}
.red700_bg {background:#d32f2f}
.red800_bg {background:#c62828}
.red900_bg {background:#b71c1c}
.redA100_bg {background:#ff8a80}
.redA200_bg {background:#ff5252}
.redA400_bg {background:#ff1744}
.redA700_bg {background:#d50000}
.pink_bg {background:#e91e63}
.pink50_bg {background:#fce4ec}
.pink100_bg {background:#f8bbd0}
.pink200_bg {background:#f48fb1}
.pink300_bg {background:#f06292}
.pink400_bg {background:#ec407a}
.pink500_bg {background:#e91e63}
.pink600_bg {background:#d81b60}
.pink700_bg {background:#c2185b}
.pink800_bg {background:#ad1457}
.pink900_bg {background:#880e4f}
.pinkA100_bg {background:#ff80ab}
.pinkA200_bg {background:#ff4081}
.pinkA400_bg {background:#f50057}
.pinkA700_bg {background:#c51162}
.purple_bg {background:#9c27b0}
.purple50_bg {background:#f3e5f5}
.purple100_bg {background:#e1bee7}
.purple200_bg {background:#ce93d8}
.purple300_bg {background:#ba68c8}
.purple400_bg {background:#ab47bc}
.purple500_bg {background:#9c27b0}
.purple600_bg {background:#8e24aa}
.purple700_bg {background:#7b1fa2}
.purple800_bg {background:#6a1b9a}
.purple900_bg {background:#4a148c}
.purpleA100_bg {background:#ea80fc}
.purpleA200_bg {background:#e040fb}
.purpleA400_bg {background:#d500f9}
.purpleA700_bg {background:#aa00ff}
.deep-purple_bg {background:#673ab7}
.deep-purple50_bg {background:#ede7f6}
.deep-purple100_bg {background:#d1c4e9}
.deep-purple200_bg {background:#b39ddb}
.deep-purple300_bg {background:#9575cd}
.deep-purple400_bg {background:#7e57c2}
.deep-purple500_bg {background:#673ab7}
.deep-purple600_bg {background:#5e35b1}
.deep-purple700_bg {background:#512da8}
.deep-purple800_bg {background:#4527a0}
.deep-purple900_bg {background:#311b92}
.deep-purpleA100_bg {background:#b388ff}
.deep-purpleA200_bg {background:#7c4dff}
.deep-purpleA400_bg {background:#651fff}
.deep-purpleA700_bg {background:#6200ea}
.indigo_bg {background:#3f51b5}
.indigo50_bg {background:#e8eaf6}
.indigo100_bg {background:#c5cae9}
.indigo200_bg {background:#9fa8da}
.indigo300_bg {background:#7986cb}
.indigo400_bg {background:#5c6bc0}
.indigo500_bg {background:#3f51b5}
.indigo600_bg {background:#3949ab}
.indigo700_bg {background:#303f9f}
.indigo800_bg {background:#283593}
.indigo900_bg {background:#1a237e}
.indigoA100_bg {background:#8c9eff}
.indigoA200_bg {background:#536dfe}
.indigoA400_bg {background:#3d5afe}
.indigoA700_bg {background:#304ffe}
.blue_bg {background:#2196f3}
.blue50_bg {background:#e3f2fd}
.blue100_bg {background:#bbdefb}
.blue200_bg {background:#90caf9}
.blue300_bg {background:#64b5f6}
.blue400_bg {background:#42a5f5}
.blue500_bg {background:#2196f3}
.blue600_bg {background:#1e88e5}
.blue700_bg {background:#1976d2}
.blue800_bg {background:#1565c0}
.blue900_bg {background:#0d47a1}
.blueA100_bg {background:#82b1ff}
.blueA200_bg {background:#448aff}
.blueA400_bg {background:#2979ff}
.blueA700_bg {background:#2962ff}
.light-blue_bg {background:#03a9f4}
.light-blue50_bg {background:#e1f5fe}
.light-blue100_bg {background:#b3e5fc}
.light-blue200_bg {background:#81d4fa}
.light-blue300_bg {background:#4fc3f7}
.light-blue400_bg {background:#29b6f6}
.light-blue500_bg {background:#03a9f4}
.light-blue600_bg {background:#039be5}
.light-blue700_bg {background:#0288d1}
.light-blue800_bg {background:#0277bd}
.light-blue900_bg {background:#01579b}
.light-blueA100_bg {background:#80d8ff}
.light-blueA200_bg {background:#40c4ff}
.light-blueA400_bg {background:#00b0ff}
.light-blueA700_bg {background:#0091ea}
.cyan_bg {background:#00bcd4}
.cyan50_bg {background:#e0f7fa}
.cyan100_bg {background:#b2ebf2}
.cyan200_bg {background:#80deea}
.cyan300_bg {background:#4dd0e1}
.cyan400_bg {background:#26c6da}
.cyan500_bg {background:#00bcd4}
.cyan600_bg {background:#00acc1}
.cyan700_bg {background:#0097a7}
.cyan800_bg {background:#00838f}
.cyan900_bg {background:#006064}
.cyanA100_bg {background:#84ffff}
.cyanA200_bg {background:#18ffff}
.cyanA400_bg {background:#00e5ff}
.cyanA700_bg {background:#00b8d4}
.teal_bg {background:#009688}
.teal50_bg {background:#e0f2f1}
.teal100_bg {background:#b2dfdb}
.teal200_bg {background:#80cbc4}
.teal300_bg {background:#4db6ac}
.teal400_bg {background:#26a69a}
.teal500_bg {background:#009688}
.teal600_bg {background:#00897b}
.teal700_bg {background:#00796b}
.teal800_bg {background:#00695c}
.teal900_bg {background:#004d40}
.tealA100_bg {background:#a7ffeb}
.tealA200_bg {background:#64ffda}
.tealA400_bg {background:#1de9b6}
.tealA700_bg {background:#00bfa5}
.green_bg {background:#4caf50}
.green50_bg {background:#e8f5e9}
.green100_bg {background:#c8e6c9}
.green200_bg {background:#a5d6a7}
.green300_bg {background:#81c784}
.green400_bg {background:#66bb6a}
.green500_bg {background:#4caf50}
.green600_bg {background:#43a047}
.green700_bg {background:#388e3c}
.green800_bg {background:#2e7d32}
.green900_bg {background:#1b5e20}
.greenA100_bg {background:#b9f6ca}
.greenA200_bg {background:#69f0ae}
.greenA400_bg {background:#00e676}
.greenA700_bg {background:#00c853}
.light-green_bg {background:#8bc34a}
.light-green50_bg {background:#f1f8e9}
.light-green100_bg {background:#dcedc8}
.light-green200_bg {background:#c5e1a5}
.light-green300_bg {background:#aed581}
.light-green400_bg {background:#9ccc65}
.light-green500_bg {background:#8bc34a}
.light-green600_bg {background:#7cb342}
.light-green700_bg {background:#689f38}
.light-green800_bg {background:#558b2f}
.light-green900_bg {background:#33691e}
.light-greenA100_bg {background:#ccff90}
.light-greenA200_bg {background:#b2ff59}
.light-greenA400_bg {background:#76ff03}
.light-greenA700_bg {background:#64dd17}
.lime_bg {background:#cddc39}
.lime50_bg {background:#f9fbe7}
.lime100_bg {background:#f0f4c3}
.lime200_bg {background:#e6ee9c}
.lime300_bg {background:#dce775}
.lime400_bg {background:#d4e157}
.lime500_bg {background:#cddc39}
.lime600_bg {background:#c0ca33}
.lime700_bg {background:#afb42b}
.lime800_bg {background:#9e9d24}
.lime900_bg {background:#827717}
.limeA100_bg {background:#f4ff81}
.limeA200_bg {background:#eeff41}
.limeA400_bg {background:#c6ff00}
.limeA700_bg {background:#aeea00}
.yellow_bg {background:#ffeb3b}
.yellow50_bg {background:#fffde7}
.yellow100_bg {background:#fff9c4}
.yellow200_bg {background:#fff59d}
.yellow300_bg {background:#fff176}
.yellow400_bg {background:#ffee58}
.yellow500_bg {background:#ffeb3b}
.yellow600_bg {background:#fdd835}
.yellow700_bg {background:#fbc02d}
.yellow800_bg {background:#f9a825}
.yellow900_bg {background:#f57f17}
.yellowA100_bg {background:#ffff8d}
.yellowA200_bg {background:#ffff00}
.yellowA400_bg {background:#ffea00}
.yellowA700_bg {background:#ffd600}
.amber_bg {background:#ffc107}
.amber50_bg {background:#fff8e1}
.amber100_bg {background:#ffecb3}
.amber200_bg {background:#ffe082}
.amber300_bg {background:#ffd54f}
.amber400_bg {background:#ffca28}
.amber500_bg {background:#ffc107}
.amber600_bg {background:#ffb300}
.amber700_bg {background:#ffa000}
.amber800_bg {background:#ff8f00}
.amber900_bg {background:#ff6f00}
.amberA100_bg {background:#ffe57f}
.amberA200_bg {background:#ffd740}
.amberA400_bg {background:#ffc400}
.amberA700_bg {background:#ffab00}
.orange_bg {background:#ff9800}
.orange50_bg {background:#fff3e0}
.orange100_bg {background:#ffe0b2}
.orange200_bg {background:#ffcc80}
.orange300_bg {background:#ffb74d}
.orange400_bg {background:#ffa726}
.orange500_bg {background:#ff9800}
.orange600_bg {background:#fb8c00}
.orange700_bg {background:#f57c00}
.orange800_bg {background:#ef6c00}
.orange900_bg {background:#e65100}
.orangeA100_bg {background:#ffd180}
.orangeA200_bg {background:#ffab40}
.orangeA400_bg {background:#ff9100}
.orangeA700_bg {background:#ff6d00}
.deep-orange_bg {background:#ff5722}
.deep-orange50_bg {background:#fbe9e7}
.deep-orange100_bg {background:#ffccbc}
.deep-orange200_bg {background:#ffab91}
.deep-orange300_bg {background:#ff8a65}
.deep-orange400_bg {background:#ff7043}
.deep-orange500_bg {background:#ff5722}
.deep-orange600_bg {background:#f4511e}
.deep-orange700_bg {background:#e64a19}
.deep-orange800_bg {background:#d84315}
.deep-orange900_bg {background:#bf360c}
.deep-orangeA100_bg {background:#ff9e80}
.deep-orangeA200_bg {background:#ff6e40}
.deep-orangeA400_bg {background:#ff3d00}
.deep-orangeA700_bg {background:#dd2c00}
.brown_bg {background:#795548}
.brown50_bg {background:#efebe9}
.brown100_bg {background:#d7ccc8}
.brown200_bg {background:#bcaaa4}
.brown300_bg {background:#a1887f}
.brown400_bg {background:#8d6e63}
.brown500_bg {background:#795548}
.brown600_bg {background:#6d4c41}
.brown700_bg {background:#5d4037}
.brown800_bg {background:#4e342e}
.brown900_bg {background:#3e2723}
.grey_bg {background:#9e9e9e}
.grey50_bg {background:#fafafa}
.grey100_bg {background:#f5f5f5}
.grey200_bg {background:#eeeeee}
.grey300_bg {background:#e0e0e0}
.grey400_bg {background:#bdbdbd}
.grey500_bg {background:#9e9e9e}
.grey600_bg {background:#757575}
.grey700_bg {background:#616161}
.grey800_bg {background:#424242}
.grey900_bg {background:#212121}
.blue-grey_bg {background:#607d8b}
.blue-grey50_bg {background:#eceff1}
.blue-grey100_bg {background:#cfd8dc}
.blue-grey200_bg {background:#b0bec5}
.blue-grey300_bg {background:#90a4ae}
.blue-grey400_bg {background:#78909c}
.blue-grey500_bg {background:#607d8b}
.blue-grey600_bg {background:#546e7a}
.blue-grey700_bg {background:#455a64}
.blue-grey800_bg {background:#37474f}
.blue-grey900_bg {background:#263238}
.black_bg {background:#000000}
.white_bg {background:#ffffff}

/************************************ RESPONSIVE LAYOUT **************************************/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}

/* Tablets and iPads */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /*.wrapper{width:720px;}*/
}

/* All beyond 960 standar */
@media only screen and (min-width: 960px) {
    .wrapper{width:960px;}
}

/* All beyond 1220 standar */
@media only screen and (min-width: 1220px) {
    .wrapper{width:1220px;}
}

/* All beyond 1220 standar */
@media only screen and (min-width: 1400px) {
    .wrapper{width:1400px;}
}

/* All under 960px width */
@media only screen and (max-width: 959px) {
    .wrapper{width:100%;padding:0 15px;}
    #btn_quick_nav{display:inline-block;position:relative;left:-15px;}
    html, body{font-size:0.8em;}
    .col1,.col2,.col3,.col4,.col5,.col6,.col23,.col24,.col34,.col25,.col35,.col45,.col26,.col36,.col46,.col56{width:100%;}
    .marged,.col1.marged,.col2.marged,.col3.marged,.col4.marged,.col5.marged,.col6.marged,.col23.marged,.col24.marged,.col34.marged,.col25.marged,.col35.marged,.col45.marged,.col26.marged,.col36.marged,.col46.marged,.col56.marged{width:100%;margin-left:0;margin-right:0;}
    .full-marged,.col1.full-marged,.col2.full-marged,.col3.full-marged,.col4.full-marged,.col5.full-marged,.col6.full-marged,.col23.full-marged,.col24.full-marged,.col34.full-marged,.col25.full-marged,.col35.full-marged,.col45.full-marged,.col26.full-marged,.col36.full-marged,.col46.full-marged,.col56.full-marged{width:100%;margin-left:0;margin-right:0;}
    .lmarged,.col1.lmarged,.col2.lmarged,.col3.lmarged,.col4.lmarged,.col5.lmarged,.col6.lmarged,.col23.lmarged,.col24.lmarged,.col34.lmarged,.col25.lmarged,.col35.lmarged,.col45.lmarged,.col26.lmarged,.col36.lmarged,.col46.lmarged,.col56.lmarged{width:100%;margin-left:0;margin-right:0;}
    .photo{text-align:center;}
    .photo.left{float:none;}
    .photo.right{float:none;}
    .padded:not(.mobile-padded){padding:0;}
    .lpadded:not(.mobile-lpadded){padding:0;}
}

/* All under 600px width */
@media only screen and (max-width: 599px) {
    .marged,.col1.marged,.col2.marged,.col3.marged,.col4.marged,.col5.marged,.col6.marged,.col23.marged,.col24.marged,.col34.marged,.col25.marged,.col35.marged,.col45.marged,.col26.marged,.col36.marged,.col46.marged,.col56.marged{margin-top:15px;}
    .full-marged,.col1.full-marged,.col2.full-marged,.col3.full-marged,.col4.full-marged,.col5.full-marged,.col6.full-marged,.col23.full-marged,.col24.full-marged,.col34.full-marged,.col25.full-marged,.col35.full-marged,.col45.full-marged,.col26.full-marged,.col36.full-marged,.col46.full-marged,.col56.full-marged{margin-top:15px;}
}